<!doctype html>
<html>
    <head>
        <title>Rainbow ToDo | Docs</title>
        <link rel="stylesheet" href="style.css">

    </head>
    <body>
        <h1>RainBow ToDo | Docs</h1>
        <hr>
        <h2>Actions</h2>

        <b>Add todo</b>
        <p>
            The add todo functionality adds a todo to the todo list, depending on the input in the form.
        </p>
        <b>Remove todo</b>
        <p>
            The remove todo removes a todo from the list.
        </p>
        <b>Sort todo's</b>
        <p>
            The sort buttons sort the todo list by priority, add date or due date.
        </p>
        <b>Check todo</b>
        <p>
            This action marks a todo as done, and stripes the todo
        </p>
        <b>Update todo</b>
        <p>
            Update the todo's content
        </p>
        <b>Catagorize todo's</b>
        <p>
            Update the todo's catagory
        </p>

        <hr>

        <h2>OOP Description</h2>
        The application wil consist out of the following items:
        <ul>
            <li>A <b>module</b> for the todolist, containing all the functions
                needed to manage, sort, show en edit the todolost. This module
                returns the functions that are available for the <b>main variable</b>
            </li>
            <li>A <b>main variable</b> that will be fired after loading the document. this
                variable contains all the listners for the actions. For the keyboard controll we
                only needed to add the "return" listner, in order to add a todo. The other actions
                are accesable via the default keyboard navigation of the browser.
            </li>
        </ul>
        <hr>
        <h2>SQL's</h2>
        <ol>
            <li>"SELECT * FROM `todos` WHERE 'owner' = :id"</li>
            <li>"SELECT * FTOM `todos` WHERE `todoListId` = :listId"</li>
            <li>"SELECT * FTOM `todos` WHERE `todoListId` = :listId LIMIT 30"</li>
            <li><ol>
                <li>"SELECT * FROM `todos` WHERE `todo.date` < :endDate AND `todo.date` > :beginDate;"</li>
                <li>"SELECT * FROM `todos` WHERE `todo.imp` = :imp"</li>
                <li>"SELECT * FROM `todos` WHERE `todo.done` = :done"</li>
            </ol></li>
            <li>This query is not supported in our databse</li>
            <li>"SELECT tag FROM `todos` WHERE `id` = :id;"</li>
            <li>"SELECT * FROM `todos` WHERE `tag` = :tag;"</li>
            <li>"SELECT count() FROM `todos` WHERE `tag` = :tag;"</li>
            <li>"SELECT count() FROM `todos WHERE `done` = 1 AND `date` < :beginDate AND `date` > :endDate;"</li>
            <li>SELECT * FROM 'todos' ORDER BY 'date'<:beginDate>-'date'<:endDate> LIMIT(10);</li>
            <li>SELECT AVG('date'<:beginDate>-'date'<:endDate>) FROM 'todos';</li>
            <li>SELECT * FROM 'todos' WHERE ('date'<:beginDate>-'date'<:endDate>)-AVG('date'<:beginDate>-'date'<:endDate>) > 0;</li>
            <span style="color:red; font-size: 30pt;"> Hier moeten er nog 3</span>

        </ol>





        <hr>
        <a href='/'>Home</a> | <a href='/list'>List</a>
    </body>
</html>
