<!doctype html>
<html>
    <head>
        <title>Rainbow ToDo | ERROR</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="splash">
        <h1>Rainbow ToDo | ERROR</h1>
        <p id="leader">You are not logged in.</p>
        <br><a href="/auth/google">Sign In or register with Google</a>
    </body>
</html>
