<!doctype html>
<html>
    <head>
        <title>Rainbow ToDo | Home</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="splash">
        <h1>Rainbow ToDo</h1>
        <p id="leader">Welcome <% if (locals.name) { %> <%= name %> <% } %> to rainbow todo!</p>
        Click <a href='/list'>here</a> to go to your todo list.
    </body>
</html>
